<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" 
    crossorigin="anonymous"/>
</head>
<body>
    
    <% if (typeof note === 'undefined') note = {} %>
    <% if (typeof readonly === 'undefined') readonly = false %>
    <div style="margin-left: 20px;">
      <form method="post" action="<%= act %>" enctype="multipart/form-data">
          <div class="form-row">
            <div class="col-7" style="margin-bottom: 20px;">
              <input type="text" class="form-control" name="name" placeholder="Name" value="<%=note.name%>">
            </div>
            <div class="col-7" style="margin-bottom: 20px;">
              <input type="text" class="form-control" name="bpm" placeholder="Bpm" value="<%=note.bpm%>">
            </div>
            <div class="col-7" style="margin-bottom: 20px;">
              <input type="text" class="form-control" name="complexity" placeholder="Complexity" value="<%=note.complexity%>">
            </div>
            <div class="col-7" style="margin-bottom: 20px;">
              <input type="text" class="form-control" name="duration" placeholder="Duration" value="<%=note.duration%>">
            </div>
            <div class="col-7" style="margin-bottom: 20px;">
              <input type="text" class="form-control" name="instrument" placeholder="Instrument" value="<%=note.instrument%>">
            </div>
            <div class="col-7" style="margin-bottom: 20px;">
              <input type="text" class="form-control" name="description" placeholder="Description" value="<%=note.description%>">
            </div>
            <div class="col-7" style="margin-bottom: 20px;">
              <input type="file" class="form-control" name="sheet">
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
      </form>
    </div>
</body>
</html>